*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#eef8ff;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.container{
  width:420px;
  background:#fff;
  padding:25px;
  border-radius:15px;
  box-shadow:0 8px 20px rgba(0,120,255,0.15);
}

h1{
  text-align:center;
  color:#0b6efd;
  margin-bottom:20px;
}

.input-box{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

input{
  flex:1;
  padding:12px;
  border:2px solid #b6dcff;
  border-radius:8px;
  outline:none;
  font-size:16px;
}

input:focus{
  border-color:#0b6efd;
}

button{
  padding:12px 18px;
  background:#0b6efd;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  background:#0056d2;
}

ul{
  list-style:none;
}

li{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#f7fbff;
  padding:12px;
  border:1px solid #d9ecff;
  border-radius:8px;
  margin-bottom:10px;
}

.delete-btn{
  background:#ff4d4d;
}

.delete-btn:hover{
  background:#d93636;
}
